.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 80px;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(10, 10, 10, 0.85);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  color: white;
}

/* LOGO */

.navbar__logo {
  color: white;
  text-decoration: none;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* LINKS */

.navbar__links {
  display: flex;
  align-items: center;
  gap: 35px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navbar__links a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar__links a:hover {
  color: #e10600;
}

/* BOTÓN */

.navbar__button {

    cursor: pointer;
    
  padding: 12px 22px;

  border-radius: 6px;

  background-color: #e10600;
  color: white;

  text-decoration: none;

  font-size: 14px;
  font-weight: 600;

  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.navbar__button:hover {
  background-color: #ff1a14;
  transform: translateY(-2px);
}

/* TABLET */

@media (max-width: 900px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar__links {
    gap: 20px;
  }
}

/* MÓVIL */

@media (max-width: 768px) {
  .navbar {
    padding: 0 25px;
  }

  .navbar__links {
    display: none;
  }
}